doctype html
include ../views/layouts/header.pug
// start banner Area
section#home.banner-area.relative
  .overlay.overlay-bg
  .container
    .row.fullscreen.d-flex.align-items-center.justify-content-between
      .banner-content.col-lg-9.col-md-12
        h1.text-uppercase
          | Trung tâm DNTutor
          br
        h1 
          | Chất lượng-Uy tín
        p.pt-10.pb-10
          | Đội ngũ gia sư chất lượng, được tuyển dụng từ sinh viên các trường Đại học và giáo viên các trường phổ thông chất lượng cao
        a.primary-btn.text-uppercase(href='/dangkythuegiasu') Thuê gia sư ngay
// End banner Area
// Start feature Area
section.feature-area
  .container
    .row
      .col-lg-4
        .single-feature
          .title
            h4 Dạy hiệu quả
          .desc-wrap
            p
              | Con chỉ có thể học tốt nếu yêu thích việc học. Gia sư tại DNTutor luôn biết cách tạo động lực cho con, bằng các phương pháp giảng dạy thú vị, dễ hiểu và hiệu quả.
            a.js-scroll-trigger.active(href='/dangkythuegiasu') Đăng ký ngay
      .col-lg-4
        .single-feature
          .title
            h4 Tiến bộ nhanh
          .desc-wrap
            p
              | Với gia sư giỏi tại DNTutor, con bạn sẽ nhanh chóng học tập tiến bộ, có kết quả khác biệt chỉ sau 10 buổi học: Con chăm ngoan, học tốt hơn, điểm số cao hơn.
            a.js-scroll-trigger.active(href='/dangkythuegiasu') Đăng ký ngay
      .col-lg-4
        .single-feature
          .title
            h4 Học thử 2 buổi
          .desc-wrap
            p
              | Sau 2 buổi học thử đầu tiên, nếu không hài lòng về gia sư, bạn không cần phải thanh toán học phí. Tất nhiên, DNTutor luôn có những gia sư khiến bạn hài lòng nhất.
            a.js-scroll-trigger.active(href='/dangkythuegiasu') Đăng ký ngay
// End feature Area
// Start popular-course Area
section.popular-course-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-70.col-lg-8
        .title.text-center
          h1.mb-10 Tin tiêu điểm
          p
    .row
      .active-popular-carusel
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p1.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='/')
              h4
                | Nội quy nhận lớp gia sư dạy kèm
            p
              | QUÝ THẦY CÔ VÀ CÁC BẠN SINH VIÊN KHI ĐẾN TRUNG TÂM GIA SƯ THÀNH TÀI NHẬN LỚP CẦN MANG THEO: + Thẻ GV, bằng tốt nghiệp (đối với GV), thẻ sinh viên (đối với Sinh viên). + Giấy CMND.
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p2.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='/')
              h4
                | Bảng giá tại Trung tâm gia sư DNTutor
            p
              | Dịch vụ bảng giá gia sư dạy kèm tại nhà Hà Nội, chuyên gia sư Toán, Lý, Hoá, Văn, dạy tiếng Anh Ielts, Toeic, Avgt, Ngữ Pháp Tiếng Anh. Cung cấp gia sư Đàn Nhạc, Gia Sư Luyện Thi Vào Lớp 10...
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p3.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='/')
              h4
                | Đội ngũ gia sư tại trung tâm chúng tôi
            p
              | Con bạn đang học tập sa sút? Con bạn sắp thi học kỳ? Bạn chưa có nhiều thời gian để kèm cập các em? Bạn đang tìm một gia sư giỏi trong tâp thể gia sư giỏi tại Hà Nội? Bạn thật sự rất khó khăn để tìm gia sư cho
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p4.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='/')
              h4
                | Học Phí Gia Sư Quận Hải Châu, gia sư quận Cẩm Lệ, gia sư quận quận Thanh Khê
            p
              | Dưới đây là bảng giá học phí gia sư quận Hải Châu, học phí gia sư quận Cẩm Lệ, học phí gia sư quận Thanh Khê
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p1.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='/')
              h4
                | Bảng giá học phí gia sư dạy kèm quận Sơn Trà, học phí gia sư dạy kèm quận Ngũ Hành Sơn
            p
              | Học phí gia sư dạy kèm quận Sơn Trà và học phí gia sư dạy kèm quận Ngũ Hành Sơn chi tiết, đầy đủ, tiết kiệm và uy tín đến quý phụ huynh, học sinh đang tạm trú, thường trú tại 2 quận này.
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p2.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='/')
              h4
                | DỊCH VỤ ĐĂNG TIN TÌM GIA SƯ, TRỢ GIẢNG, GIÁO VIÊN CÁ NHÂN, TRƯỜNG HỌC, TRUNG TÂM
            p
              | Với đội gia sư, giáo viên có chuyên môn hiện đang mở dịch vụ đăng tin tuyển dụng giáo viên, tìm gia sư, tìm sinh viên và giáo viên cho cá nhân, trung tâm, trường học
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p3.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='/')
              h4
                | DANH SÁCH LỚP MỚI CẦN TÌM GIA SƯ DẠY KÈM TẠI NHÀ TP ĐÀ NẴNG
            p
              | DANH SÁCH LỚP TOÁN - LÝ - HOÁ - VĂN - TIẾNG ANH SGK, IELTS, TOEFL, TIẾNG NHẬT - HOA - PHÁP - ANH - GUITAR, ORGAN, PIANO, UKULELE, TOÁN - TIẾNG VIỆT HS CẤP 1, 2, 3 ĐANG CẦN TÌM GIA SƯ (FOREIGN TUTOR) DẠY KÈM TẠI NHÀ TP ĐÀ NẴNG [12/6/2019]
        .single-popular-carusel
          .thumb-wrap.relative
            .thumb.relative
              .overlay.overlay-bg
              img.img-fluid(src='img/p4.jpg' alt='')
            .meta.d-flex.justify-content-between
              p
                span.lnr.lnr-users
                |  355 
                span.lnr.lnr-bubble
                | 35
          .details
            a(href='#')
              h4
                | ĐÂY LÀ MÔN HỌC MÀ 99% NHỮNG NGƯỜI THÀNH CÔNG ĐỀU GIỎI
            p
              | Môn Toán học dạy chúng là cách tư duy logic - kỹ năng quan trọng nhất của 1 người thành công
// End popular-course Area
// Start search-course Area
section.search-course-area.relative
  .overlay.overlay-bg
  .container
    .row.justify-content-between.align-items-center
      .col-lg-8.col-md-8.search-course-left
        h1.text-white
          | Giảm giá 10 - 50% 
          br
          | trong mùa hè
        p
          | Với đội gia sư, giáo viên có chuyên môn hiện đang mở dịch vụ đăng tin tuyển dụng giáo viên, tìm gia sư, tìm sinh viên và giáo viên cho cá nhân, trung tâm, trường học
        .row.details-content
          .col.single-detials
            span.lnr.lnr-graduation-hat
            a(href='/')
              h4 Chuyên gia hướng dẫn
            p
              | Việc sử dụng Internet đang trở nên phổ biến hơn do sự tiến bộ nhanh chóng của công nghệ và sức mạnh.
          .col.single-detials
            span.lnr.lnr-license
            a(href='/')
              h4 Chứng chỉ
            p
              | Với sự cố gắng và tâm huyết của trung tâm , Trung tâm đã đạt được nhiều thành tích và chứng chỉ được thành phố Đà Nẵng trao tặng.
      #dangky.col-lg-4.col-md-4.section-gap
          .single-footer-widget
            h4 Gmail
            p Để lại gmail để có thể nhận những ưu đãi mới nhât
            #mc_embed_signup
              form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
                .input-group
                  input.form-control(type='text' name='EMAIL' placeholder='Địa chỉ Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ Email '" required='')
                  .input-group-btn
                    button.btn.btn-default(type='submit')
                      span.lnr.lnr-arrow-right
                  .info

// End search-course Area
// Start upcoming-event Area
section.upcoming-event-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-70.col-lg-8
        .title.text-center
          h1.mb-10 Khách hàng nói gì về trung tâm DNTutor
          p
    .row
      .active-review-carusel
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Lê Trình Minh
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
          p
            | Gia sư tại DNTutor dạy học tận tình, tâm huyết.Nói chung, trung tâm khá là tốt.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Phạm Thị Thanh
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
          p
            | Gia sư khá là tốt
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Nguyễn Chí Thành
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Trung tâm cung cấp chất lượng tốt, nhanh và tận tình.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Nguyễn Văn Đạt
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
          p
            | Trung tâm đã chinh phục được người khó tính như tôi.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Dấu tên
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
          p
            | Gia sư tại DNTutor dạy học tận tình, tâm huyết.Nói chung, trung tâm khá là oki.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Hulda Sutton
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
          p
            | Tôi vừa mới học tiếng Việt, may mà nhờ Trung tâm đã tìm được giáo viên tốt
        .single-review.item
          img(src='img/r1.png' alt='')
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Người nào đó
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Trung tâm khá tốt
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Người nào đó
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
          p
            | Gia sư trình độ ổn
// End upcoming-event Area

// Start cta-one Area
section.cta-one-area.relative.section-gap
  .container
    .overlay.overlay-bg
    .row.justify-content-center
      .wrap
        h1.text-white Lựa chọn thông minh
        p
          | Hãy trở thành những phụ huynh thông minh với những lựa chọn sáng suốt.
        a.primary-btn.wh.js-scroll-trigger.active(href='/dangkythuegiasu') Đăng ký ngay
// End cta-one Area
// Start blog Area
section#blog.blog-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-70.col-lg-8
        .title.text-center
          h1.mb-10 Blog gia sư
          p
    .row
      .col-lg-3.col-md-6.single-blog
        .thumb
          img.img-fluid(src='img/b1.jpg' alt='')
        p.meta
          | 25 April, 2018  |  By 
          a(href='#') DNTutor
        a(href='/blog-gia-su')
          h5 Làm sao để tự tin khi đi dạy gia sư
        p
          | Để là một gia sư giỏi, ngoài yếu tố kiến thức, bạn phải là một người tự tin. Tự tin sẽ giúp truyền đạt kiến thức một cách rõ ràng, khiến học sinh cảm thấy tin tưởng vào những gì đang được học. Vậy làm thế nào để bạn tự tin hơn khi đi dạy gia sư?
        a.details-btn.d-flex.justify-content-center.align-items-center(href='#')
          span.details Details
          span.lnr.lnr-arrow-right
      .col-lg-3.col-md-6.single-blog
        .thumb
          img.img-fluid(src='img/b2.jpg' alt='')
        p.meta
          | 25 April, 2018  |  By 
          a(href='#') DNTutor
        a(href='blog-single.html')
          h5 Làm sao để học sinh nghe lời
        p
          | Dù giảng dạy tại trường hay là dạy gia sư tại nhà, ai cũng muốn cho học sinh của mình ngoan ngoãn, nghe lời. Điều này sẽ khiến cho việc truyền đạt kiến thức của mình trở nên dễ dàng hơn. Một số kinh nghiệm sau đây có thể khiến cho học sinh nghe lời bạn.
        a.details-btn.d-flex.justify-content-center.align-items-center(href='#')
          span.details Details
          span.lnr.lnr-arrow-right
      .col-lg-3.col-md-6.single-blog
        .thumb
          img.img-fluid(src='img/b3.jpg' alt='')
        p.meta
          | 25 April, 2018  |  By 
          a(href='#') DNTutor
        a(href='blog-single.html')
          h5 Những lưu ý cho gia sư khi đi dạy buổi đầu
        p
          | Bất cứ buổi đầu tiên nào bạn cũng sẽ cảm thấy bỡ ngỡ và lo lắng. Buổi đầu tiên đi dạy gia sư cũng vậy, bạn sẽ không thể tránh khỏi những hồi hộp. Sự chuẩn bị kỹ lưỡng của gia sư sẽ giúp buổi đầu đi dạy được suôn sẻ, thuận lợi, tạo ấn tượng tốt cho phụ huynh và học sinh.
        a.details-btn.d-flex.justify-content-center.align-items-center(href='#')
          span.details Details
          span.lnr.lnr-arrow-right
      .col-lg-3.col-md-6.single-blog
        .thumb
          img.img-fluid(src='img/b4.jpg' alt='')
        p.meta
          | 25 April, 2018  |  By 
          a(href='#') DNTutor
        a(href='blog-single.html')
          h5 Cách giảng dạy cho học sinh lười học
        p
          | Có nhiều lý do phụ huynh mời gia sư đến nhà để giảng dạy. Nhưng lý do chủ yếu là bởi học sinh lười học, dẫn tới học kém. Vậy làm thế nào để bạn có thể giảng dạy tốt cho những học sinh lười học này?
        a.details-btn.d-flex.justify-content-center.align-items-center(href='#')
          span.details Details
          span.lnr.lnr-arrow-right
// End blog Area
include ../views/layouts/footer.pug