doctype html
include  ../layouts/header.pug
// start banner Area
section#home.banner-area.relative.about-banner
  .overlay.overlay-bg
  .container
    .row.d-flex.align-items-center.justify-content-center
      .about-content.col-lg-12
        h1.text-white
        p.text-white.link-nav
          a(href='index.html')  
          a(href='elements.html')  
// End banner Area

// Start Align Area
.whole-wrap
  .container
    form.frmUser(name='frmDangKyThueGiaSu' action='/dangkythuegiasu' method='POST' autocomplete="off")
      .row
        h1.col-md-12.mytitle.text-center Đăng ký thuê gia sư
      .form-group.row
        label.col-md-2.col-form-label.text-right(for='tenphuhuynh') Họ tên
        .col-md-4
          input#tenphuhuynh.form-control(type='text' name='tenphuhuynh' onkeyup='checkName(this.form)' required)
          #viewValidName
      .form-group.row
        label.col-md-2.col-form-label.text-right(for='sdt') Số điện thoại
        .col-md-4
          input#sdt.form-control(type='text' name='sdt' onkeyup='checkPhoneNumber(this.form)' required)
          #viewValidPhone
      .form-group.row
        label.col-md-2.col-form-label.text-right(for='diachi') Địa chỉ
        .col-md-4
          input#diachi.form-control(type='text' name='diachi' placeholder="Số nhà - Đường - Quận - Thành Phố " onkeyup='checkPlace(this.form)' required)
          #viewValidPlace
        label.col-md-2.col-form-label.text-right(for='diachiemail') Email
        .col-md-4
          input#email.form-control(type='email' name='diachiemail' onkeyup='checkEmail(this.form)' required)
          #viewValidEmail
      .form-group.row
        label.col-md-2.col-form-label.text-right(for='lophoc') Lớp học
        .col-md-4
          select#lophoc.form-control.selectpicker(name='lophoc' required)
            option(value='0') ---
            option(value='Lớp 1') Lớp 1
            option(value='Lớp 2') Lớp 2
            option(value='Lớp 3') Lớp 3
            option(value='Lớp 4') Lớp 4
            option(value='Lớp 5') Lớp 5
            option(value='Lớp 6') Lớp 6
            option(value='Lớp 7') Lớp 7
            option(value='Lớp 8') Lớp 8
            option(value='Lớp 9') Lớp 9
            option(value='Lớp 10') Lớp 10
            option(value='Lớp 11') Lớp 11
            option(value='Lớp 12') Lớp 12
          
      .form-group.row
        label.col-md-2.col-form-label.text-right(for='monhoc') Môn học
        .col-md-4
          select#monhoc.form-control.selectpicker(name='monhoc' required)
            option(value="0") --- 
            each monhoc in monhocs
              option(value= monhoc.tenmonhoc)= monhoc.tenmonhoc
            
         
      .form-group.row
        label.col-md-2.col-form-label.text-right(for='sobuoi') Số buổi/tuần
        .col-md-4
          select#sobuoi.form-control.selectpicker(name='selectpicker' required)
            option(name='' value='0') ---
            option(name='buoi1' value='1') 1
            option(name='buoi2' value='2') 2 
            option(name='buoi3' value='3') 3
            option(name='buoi4' value='4') 4
            option(name='buoi5' value='5') 5
            option(name='buoi6' value='6') 6
            option(name='buoi7' value='7') 7
          
      .form-group.row.align-items-center
        label.col-md-2.col-form-label.text-right(for='thoigiancothehoc') Thời gian có thể học
        .col-md-10.ml
          .row.ml
            .col-md-4
              label.form-check-label
                input.form-check-input(type='checkbox' name='option[0]'  value='Thứ 2')
                | Thứ 2
                input(type='hidden' name='option[0]' value='Thứ 2')
            .col-md-4
              label.form-check-label
                input.form-check-input(type='checkbox' name='option[1]' value='Thứ 3')
                | Thứ 3
                input(type='hidden' name='option[1]' value='Thứ 3')
            .col-md-4
              label.form-check-label
                input.form-check-input(type='checkbox' name='option[2]' value='Thứ 4')
                | Thứ 4
                input(type='hidden' name='option[2]' value='Thứ 4')
          .row.ml
            .col-md-4
              label.form-check-label
                input.form-check-input(type='checkbox' name='option[3]' value='Thứ 5')
                | Thứ 5
                input(type='hidden' name='option[3]' value='Thứ 5')
            .col-md-4
              label.form-check-label
                input.form-check-input(type='checkbox' name='option[4]' value='Thứ 6')
                | Thứ 6
                input(type='hidden' name='option[4]' value='Thứ 6')
            .col-md-4
              label.form-check-label
                input.form-check-input(type='checkbox' name='option[5]' value='Thứ 7')
                | Thứ 7
                input(type='hidden' name='option[5]' value='Thứ 7')
          .row.ml
            .col-md-4
              label.form-check-label
                input.form-check-input(type='checkbox' value='Chủ nhật')
                | Chủ nhật
      .form-group.row
        label.col-md-2.col-form-label.text-right(for='buoicothehoc') Ca học:
        .col-md-4
          select#buoicothehoc.form-control.selectpicker(name='buoicothehoc' required)
            option(value='Cả ngày') ---
            option(value='Buổi sáng') Buổi sáng
            option(value='Buổi chiều') Buổi chiều 
            option(value='Buổi tối') Buổi tối
          
      .form-group.row
        label.col-md-2.col-form-label.text-right(for='yeucaugiasu') Yêu cầu về gia sư
        .col-md-4
          select#yeucauvegiasu.form-control.selectpicker(name='yeucaugiasu')
            option(value='0') ---
            option(value='Sinh Viên') Sinh viên--Giá bình quân 100.000 đồng/buổi
            option(value='Giáo Viên') Giáo viên--Giá bình quân 250.000 đồng/buổi
      .form-group.row
        label.col-md-2.col-form-label.text-right Đặc điểm học sinh:
      .form-group.row
        label.col-md-2.col-form-label.text-right(for='gioitinh') Giới tính
        .col-md-4
          select#yeucauvegiasu.form-control.selectpicker(name='gioitinh' required)
            option(value='0') ---
            option(value='Nam') Nam
            option(value='Nữ') Nữ
      .form-group.row
        label.col-md-2.col-form-label.text-right(for='hocluc') Học lực
        .col-md-4
          select#yeucauvegiasu.form-control.selectpicker(name='hocluc'  required)
            option(value='0') ---
            option(value='Tốt') Tốt
            option(value='Trung Bình') Trung Bình
            option(value='Yếu') Yếu
            option(value='Kém') Kém
    
      .form-group.row.align-items-center
        label.col-md-2.form-check-label.text-right(for='inputImage')
          | Thông tin bổ sung
        .col-md-10
          textarea#txtDetail.form-control(name='ghichu' cols='60' rows='4')
      .form-group.row
        .col-md-2
        .col-md-4
          .form-check.ml
            input#chkSave.form-check-input(type='checkbox' required)
            label.form-check-label(for='chkSave')
              | Đồng ý quy định của trung tâm
      
      .form-group.row
        .col-md-12.text-center
          button.btn.btn-primary(type='submit', onclick="return confirm('Bạn có chắc chắn muốn thuê gia sư?');" )
            i.fa.fa-registered
            |  Đăng ký
          span &nbsp;
          span &nbsp;
          span &nbsp;
          a.button.btn.btn-primary( href= '/' type='button')
            i.fa.fa-times
            | Thoát
// End Align Area
include ../layouts/footer.pug