doctype html
include ../layouts/header.pug
// start banner Area
section#home.banner-area.relative.about-banner
  .overlay.overlay-bg
  .container
    .row.d-flex.align-items-center.justify-content-center
      .about-content.col-lg-12
        h1.text-white
          | Xem chi ti&#x1EBF;t l&#x1EDB;p
        p.text-white.link-nav
          a(href='/') Trang ch&#x1EE7; 
          span.lnr.lnr-arrow-right
          a(href='/danhsachlopmoi')  Xem chi ti&#x1EBF;t l&#x1EDB;p
// End banner Area
// Start event-details Area

section.event-details-area.section-gap
  .container
    .row
      .col-lg-6.event-details-left.mybg
        h1=  'Chi tiết lớp mới: GS0' + lopmoi._id
        h3 T&igrave;nh tr&#x1EA1;ng: &Dstrok;ang c&ograve;n
        br
        p.p-icon.mb-2.font-weight-bold
          i.fa.fa-book
          span &nbsp;
          span &nbsp;
          = lopmoi.monhoc +" - "+ lopmoi.lophoc
        p.text-sm-left
          i.fa.fa-map-marker
          span &nbsp;
          span &nbsp;
          = lopmoi.diachi
        if lopmoi.yeucaugiasu == "Sinh Viên"
          p.text-sm-left
            i.fa.fa-user-secret
            span &nbsp;
            span &nbsp;
            = "250.000đ/h,  " + lopmoi.sobuoi + " buổi/tuần"
        else
          p.text-sm-left
            i.fa.fa-user-secret
              span &nbsp;
              span &nbsp;
            = "400.000đ/h,  " + lopmoi.sobuoi + " buổi/tuần"

        p.text-sm-left
          i.fa.fa-history
          span &nbsp;
          span &nbsp;
          ="Ca học: " + lopmoi.buoicothehoc  
        
        p.text-sm-left
          i.fa.fa-hourglass-start
              span &nbsp;
              span &nbsp;
          = "Thời gian có thể học: "+ lopmoi.thoigian
        p.text-sm-left
          i.fa.fa-address-book
          span &nbsp;
          span &nbsp;
          = "Yêu cầu: " + lopmoi.yeucaugiasu
        br
        p.text-sm-left.font-weight-bold &Dstrok;&#x1EB7;c &dstrok;i&#x1EC3;m h&#x1ECD;c sinh
        p.text-sm-left
          i.fa.fa-transgender
              span &nbsp;
              span &nbsp;
          = "Giới tính: "+ lopmoi.gioitinh
        p.text-sm-left
          i.fa.fa-bookmark
          span &nbsp;
          span &nbsp;
          = "Học lực: "+ lopmoi.hocluc
        if lopmoi.tinhtrang
          a(href='/dangkynhanlop/'+ lopmoi._id, onclick="return confirm('Bạn có chắc chắn nhận lớp này không');" ,data-toggle='tooltip', data-placement='top', title='Delete')
            button.btn.btn-primary(type='button') &Dstrok;&abreve;ng k&yacute; nh&#x1EAD;n l&#x1EDB;p
        else
          
      .col-lg-6.col-md-6.d-flex
        -var bien= lopmoi.diachi
        -var dc= "https://www.google.com/maps/embed/v1/place?key=AIzaSyBwrnBtViHL8Kw22f4EGRZQUadOqqRkaUU&q=+"+bien+"&zoom=15"
        iframe(frameborder='0' width='100%' height='100%' data-address=dc  data-district=dc data-province='Đà Nẵng' src=dc)

// End event-details Area
// Start cta-two Area
//
  <section class="cta-two-area">
  <div class="container">
  <div class="row">
  <div class="col-lg-8 cta-left">
  <h1>Not Yet Satisfied with our Trend?</h1>
  </div>
  <div class="col-lg-4 cta-right">
  <a class="primary-btn wh" href="#">view our blog</a>
  </div>
  </div>
  </div>
  </section>
// End cta-two Area
include ../layouts/footer.pug