doctype html
include ../layouts/header.pug
// start banner Area
section#home.banner-area.relative.about-banner
  .overlay.overlay-bg
  .container
    .row.d-flex.align-items-center.justify-content-center
      .about-content.col-lg-12
        
// End banner Area
// Start feature Area
section.feature-area
  .container
    .row
      .col-lg-4
        .single-feature
          .title
            h4 Dạy hiệu quả
          .desc-wrap
            p
              | Con chỉ có thể học tốt nếu yêu thích việc học. Gia sư tại DNTutor luôn biết cách tạo động lực cho con, bằng các phương pháp giảng dạy thú vị, dễ hiểu và hiệu quả.
            a.js-scroll-trigger.active(href='/dangkythuegiasu') Đăng ký ngay
      .col-lg-4
        .single-feature
          .title
            h4 Tiến bộ nhanh
          .desc-wrap
            p
              | Với gia sư giỏi tại DNTutor, con bạn sẽ nhanh chóng học tập tiến bộ, có kết quả khác biệt chỉ sau 10 buổi học: Con chăm ngoan, học tốt hơn, điểm số cao hơn.
            a.js-scroll-trigger.active(href='/dangkythuegiasu') Đăng ký ngay
      .col-lg-4
        .single-feature
          .title
            h4 Học thử 2 buổi
          .desc-wrap
            p
              | Sau 2 buổi học thử đầu tiên, nếu không hài lòng về gia sư, bạn không cần phải thanh toán học phí. Tất nhiên, DNTutor luôn có những gia sư khiến bạn hài lòng nhất.
            a.js-scroll-trigger.active(href='/dangkythuegiasu') Đăng ký ngay
// End feature Area
// Start info Area
br
br
br
section.info-area.pb-120
  .container-fluid
    .row.align-items-center
      .col-lg-6.no-padding.info-area-left
        img.img-fluid(src='img/about-img.jpg' alt='')
      .col-lg-6.info-area-right
        h1 Là một trong những trung tâm uy tín và chất lượng hàng đầu Đà Nẵng
        p
          | Trung tâm gia sư DNTutors là sự kết hợp giữa công nghệ và dịch vụ gia sư. Trong đó, công nghệ được đầu tư mạnh mẽ và hiện đại. Đội ngũ chuyên môn được đào tạo bài bản, có đầy đủ kiến thức và kỹ năng chuyên môn.
        br
        p
          | Hiện tại, DNTutor là trung tâm gia sư chất lượng, chuyên nghiệp và có hệ thống quản lý gia sư hiện đại số 1 tại Hà Nội và Việt Nam.
        br
        p
          | Chiến lược kinh doanh của DNTutor rất đơn giản:
          br
          | Chất lượng hàng đầu
          br
          | Chăm sóc khách hàng tuyệt vời
          br
          | Đảo đảm quyền lợi của gia sư.
          br  
        br
        p
          | Bạn có thể dễ dàng thấy được khác biệt giữa DNTutor so với các trung tâm gia sư khác. DNTutor đã chuyên nghiệp hóa thành công dịch vụ gia sư, mang đến cho khách hàng và gia sư sự tin tưởng cao nhất.
// End info Area
// Start course-mission Area
// End course-mission Area
// Start search-course Area
section.search-course-area.relative
  .overlay.overlay-bg
  .container
    .row.justify-content-between.align-items-center
      .col-lg-8.col-md-8.search-course-left
        h1.text-white
          | Giảm giá 10 - 50% 
          br
          | trong mùa hè
        p
          | Với đội gia sư, giáo viên có chuyên môn hiện đang mở dịch vụ đăng tin tuyển dụng giáo viên, tìm gia sư, tìm sinh viên và giáo viên cho cá nhân, trung tâm, trường học
        .row.details-content
          .col.single-detials
            span.lnr.lnr-graduation-hat
            a(href='/')
              h4 Chuyên gia hướng dẫn
            p
              | Việc sử dụng Internet đang trở nên phổ biến hơn do sự tiến bộ nhanh chóng của công nghệ và sức mạnh.
          .col.single-detials
            span.lnr.lnr-license
            a(href='/')
              h4 Chứng chỉ
            p
              | Với sự cố gắng và tâm huyết của trung tâm , Trung tâm đã đạt được nhiều thành tích và chứng chỉ được thành phố Đà Nẵng trao tặng.
      #dangky.col-lg-4.col-md-4.section-gap
          .single-footer-widget
            h4 Gmail
            p Để lại gmail để có thể nhận những ưu đãi mới nhât
            #mc_embed_signup
              form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
                .input-group
                  input.form-control(type='text' name='EMAIL' placeholder='Địa chỉ Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ Email '" required='')
                  .input-group-btn
                    button.btn.btn-default(type='submit')
                      span.lnr.lnr-arrow-right
                  .info
// End search-course Area
// Start review Area
section.upcoming-event-area.section-gap
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-70.col-lg-8
        .title.text-center
          h1.mb-10 Khách hàng nói gì về trung tâm DNTutor
          p
    .row
      .active-review-carusel
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Lê Trình Minh
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
          p
            | Gia sư tại DNTutor dạy học tận tình, tâm huyết.Nói chung, trung tâm khá là tốt.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Phạm Thị Thanh
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
          p
            | Gia sư khá là tốt
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Nguyễn Chí Thành
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Trung tâm cung cấp chất lượng tốt, nhanh và tận tình.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Nguyễn Văn Đạt
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
          p
            | Trung tâm đã chinh phục được người khó tính như tôi.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Dấu tên
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
          p
            | Gia sư tại DNTutor dạy học tận tình, tâm huyết.Nói chung, trung tâm khá là oki.
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Hulda Sutton
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
          p
            | Tôi vừa mới học tiếng Việt, may mà nhờ Trung tâm đã tìm được giáo viên tốt
        .single-review.item
          img(src='img/r1.png' alt='')
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Người nào đó
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
              span.fa.fa-star
          p
            | Trung tâm khá tốt
        .single-review.item
          .title.justify-content-start.d-flex
            a(href='#')
              h4 Người nào đó
            .star
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star.checked
              span.fa.fa-star
          p
            | Gia sư trình độ ổn
// End review Area
include ../layouts/footer.pug