doctype html
head
  // Mobile Specific Meta
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Favicon
  link(rel='shortcut icon' href='img/fav.png')
  // Author Meta
  meta(name='author' content='colorlib')
  // Meta Description
  meta(name='description' content='')
  // Meta Keyword
  meta(name='keywords' content='')
  // meta character set
  meta(charset='UTF-8')
  // Site Title
  title DNTutor
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700' rel='stylesheet')
  //
    CSS
    =============================================
  link(rel='stylesheet', href='css/linearicons.css')
  link(rel='stylesheet', href='css/font-awesome.min.css')
  link(rel='stylesheet', href='css/bootstrap.css')
  link(rel='stylesheet', href='css/magnific-popup.css')
  link(rel='stylesheet', href='css/nice-select.css')
  link(rel='stylesheet', href='css/animate.min.css')
  link(rel='stylesheet', href='css/owl.carousel.css')
  link(rel='stylesheet', href='css/jquery-ui.css')
  link(rel='stylesheet', href='css/main.css')
  link(rel='stylesheet', href='css/util.css')
  link(rel='stylesheet', href='css/main_register.css')
  link(rel='stylesheet', href='css/login.css')
  script(language='javascript', src='js/checkvalidate2.js')
 
header#header
  .header-top
    .container
      .row
        .col-lg-4.col-sm-4.col-4.header-top-left.no-padding
          a(href='tel:+84 868329411')
            span.lnr.lnr-phone-handset
            span.text +84 868329411
          a(href='mailto:bkdanang.tutor@gmail.com')
            span.lnr.lnr-envelope
            span.text bkdanang.tutor@gmail.com
        .col-lg-4.col-sm-4.col-4.header-top-center.no-padding
          
        .col-lg-4.col-sm-4.col-4.header-top-right.no-padding
          if user 
              a(href='/cap-nhat-thong-tin')
                span.fa.fa-user 
                span.text #{user.email}
              a(href='/logout')
                button.btn.btn-primary.btn-sm.text-uppercase(type='button')  Đăng xuất
          else
              a(href='/login')
                button.btn.btn-light.btn-sm.text-uppercase(type='button') Đăng nhập    
              a(href='/dang-ky-lam-gia-su')
                button.btn.btn-primary.btn-sm.text-uppercase(type='button')  Đăng ký
  .row.m
    .container.main-menu
      .row.align-items-center.justify-content-between.d-flex
        #logo
          a(href='/')
            img(src='/img/logo1.png' alt='' title='')
        nav#nav-menu-container
          ul.nav-menu
            li
              a(href='/') Trang chủ
            li
              a(href='/gioithieu') Giới thiệu
            li
              a(href='/danhsachlopmoi') Danh sách lớp mới
            li
              a(href='/blog-khach-hang') Blog khách hàng
            li.menu-has-children
              a(href='/blog-gia-su') Blog gia sư
              
            li
              a(href='/contact') Liên hệ
        // #nav-menu-container
// #header
// Start popular-course Area
section.section-gap
  .container-contact100
    .wrap-contact100
      form(name='frmdangkylamgiasu' action='/dang-ky-lam-gia-su' onsubmit ='return validateForm()' method='POST' required )
        span.contact100-form-title
          | Đăng ký làm gia sư
        label.label-input100(for='hoten') HỌ VÀ TÊN:
        .wrap-input100.validate-input
          input#name.input100(type='text' name='name' onkeyup='checkName(this.form)' placeholder='ví dụ: Phạm Trình Tin' required)
          #viewValidName
          span.focus-input100
        label.label-input100(for='email') ĐỊA CHỈ EMAIL:
        .wrap-input100.validate-input
          input#email.input100(type='email' name='email' onkeyup='checkEmail(this.form)' placeholder='ví dụ: example@email.com' required)
          #viewValidEmail
          span.focus-input100
        label.label-input100(for='password') MẬT KHẨU:
        .wrap-input100
          input#password.input100(type='password' name='password' onkeyup='checkPass(this.form)' required)
          //- #viewValidPass
          span.focus-input100
        label.label-input100(for='password1') NHẬP LẠI MẬT KHẨU:
        .wrap-input100
          input#password1.input100(type='password' name='password1' onkeyup='checkPass(this.form)' required)
          #viewValidPass
          span.focus-input100
        .container-contact100-form-btn
          button.contact100-form-btn
            span
              | Đăng ký
              i.zmdi.zmdi-arrow-right.m-l-8
// End popular-course Area
// start footer Area
include ../layouts/footer.pug
// End footer Area
script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
script(src='js/easing.min.js')
script(src='js/hoverIntent.js')
script(src='js/superfish.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.tabs.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
