doctype html
include ../layouts/header.pug
// start banner Area
section#home.banner-area.relative.about-banner
  .overlay.overlay-bg
  .container
    .row.d-flex.align-items-center.justify-content-center
      .about-content.col-lg-12
        h1.text-white
         
// End banner Area
// Start popular-courses Area
section.popular-courses-area.section-gap.courses-page
  .container
    .row.d-flex.justify-content-center
      .menu-content.pb-70.col-lg-8
        .title.text-center
          h1.mb-10 Danh s&aacute;ch l&#x1EDB;p m&#x1EDB;i
          .col-md-12
            .input-group.md-form.form-sm.form-2.pl-0
              input.form-control.my-0.py-1.amber-border(type='text', placeholder='Tìm kiếm', aria-label='Search')
              .input-group-append
                span#basic-text1.input-group-text.amber.lighten-3
                  i.fa.fa-search.text-grey(aria-hidden='true') T&igrave;m ki&#x1EBF;m
    .row
      
      each lopmoi in lopmois
        
        -var title = "Mã Lớp : GS0" + lopmoi._id 
        -var ten= lopmoi.monhoc +" - " +lopmoi.lophoc
        -var sobuoi= "250.000đ/buổi,  " + lopmoi.sobuoi + " buổi/tuần"
        -var yeucau= "Yêu cầu : "+ lopmoi.yeucaugiasu
        if lopmoi.tinhtrang
          .single-popular-carusel.col-lg-3.col-md-6
            .details
              .card.border-secondary.mb-3(style='max-width: 18rem; height: 300px;	overflow: hidden;')
                .card-header.font-weight-bold(style='color: white; background: blue;')= title
                .card-body.text-secondary
                  h5.card-title
                    i.fa.fa-book
                    span &nbsp;
                    = ten
                  p.card-text
                    i.fa.fa-map-marker
                    span &nbsp;
                    = lopmoi.diachi
                  p.card-text
                    i.fa.fa-user-secret
                    span &nbsp;
                    = sobuoi
                  p.card-text
                    i.fa.fa-address-book
                    span &nbsp;
                    = yeucau
                  a.button.btn.btn-primary.float-right(href='/danhsachlopmoi/' + lopmoi._id) Xem chi ti&#x1EBF;t
      
    a.primary-btn.text-uppercase.mx-auto(href='#') Xem th&ecirc;m
// End popular-courses Area
include ../layouts/footer.pug